!!! 5
html
	head
		title= "Wordslinger Login"
	body
		h2 Login
		form(name="login", method="post", action="/api/player/login")
			div Email: 
				input(type="text", name="email")
			div Password: 
				input(type="text", name="password")
		h2 Signup
		form(name="signup", method="post", action="/api/player/signup")
			div Email: 
				input(type="text", name="email")
			div Password: 
				input(type="text", name="password")
			div Confirm password: 
				input(type="text", name="confirmpassword")
