.tile {
	width: 35px;
	height: 35px;
	border: solid gray thin;
	position: relative;
	display: inline-block;
	font-size: 18px;
}

.tileSlot {
	width: 35px;
	height: 35px;
	border: solid gray thin;
	position: relative;
	display: inline-block;
	font-size: 18px;
}

.TL {
	background-color: #004CFF;
}

.DL {
	background-color: #7AA2FF;
}

.DW {
	background-color: #F7656D;
}

.TW {
	background-color: #E3000B;
}

.handSlot {
	width: 35px;
	height: 35px;
	border: solid gray thin;
	position: relative;
	display: inline-block;
	font-size: 18px;
}

.tile-letter {
	color: red;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -5px;
	margin-top: -11px;
}

.tile-points {
	font-size: 0.6em;
	position: absolute;
	bottom: 0;
	right: 1;
}

.points-space {
	float:right;
	height: 80%;
}

.hand {
	border: solid gray thin;
	width: 261px;
	height: 36px;
	margin: 5px;
	padding: 2px;
	float: left;
}

.selected {
	border: solid red thin;
}
.active {
	border: solid blue thin;
}

input.go {
	float:left;
}

.board{
	
}